@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
}

body, html {
    padding: 0 !important;
    margin: 0 !important;
    scroll-behavior: smooth;
    background-color: #fafafa;
}

.header {
    padding: 0 6rem;
    background-color: #262630;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 10;
}

.header_logo h2 {
    font-style: italic;
    font-weight: 800;
    font-size: 1.5rem;
    margin: 0;
    text-transform: uppercase;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: .9rem;
    padding: 1.3rem;
    display: block;
}

ul li:hover{
    background-color: #6d6d6d;
}

.header_nav ul li:hover {
    background-color: #2cc753;
} 

.toggle-button {
    position: absolute;
    top: 1rem;
    right: 3.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    width: 100%;
    height: 3px;
    background-color: aliceblue;
    border-radius: 10px;
}




/* Main */
section {
    height: auto;
    padding-bottom: 2rem !important;
}
#hero {
    padding: 0 6rem;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    position: relative;
    background-image: url('https://images.livemint.com/img/2019/12/05/1600x900/8f055fb2-1675-11ea-b389-32c55aa780de_1575515772691_1575515802603.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
}

#title {
    font-size: 3rem;
    text-shadow:0px 0px 0 rgb(137,156,213),1px 1px 0 rgb(129,148,205),2px 2px 0 rgb(120,120,120);
}

#hero p {
    width: 30vw;
    line-height: 30px;
}

#mouse {
    width: 20vw;
    display: flex;
    align-items: center ;
    position: absolute;
    bottom: 6rem;
    animation: updown 2s ease-in-out infinite both;
}


/* Timeline */
#time-line {
    padding: 0 6rem;
    padding-top: 5rem;
}
#time-line h3{
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    letter-spacing: -2px;
}

@keyframes updown {
    0% {
        bottom: 6rem;
    }
    50% {
        bottom:5rem;
    } 
    100% {
        bottom: 6rem;
    }   
}

#mouse a {
    color: aliceblue;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#mouse a span {
    font-size: 1.3rem;
    margin-left: .5rem;
}


/* Timeline */

#time-line {
    position: relative;
}

.timeline {
    margin-top: 5rem;
}

.timeline::after {
    content: '';
    margin-top: 15rem;
    position: absolute;
    width: 6px;
    background-color: #2cc753;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0%;
}

.right {
    left: 50%;
}
.left::before {
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    background-color: white;
    position: relative;
    border-radius: 6px;
    border-radius: 10px;
}

.content img {
    display: block;
    width: 100%;
    max-width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.content h4 {
    padding: 0 30px;
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-bottom: .2rem;
}

#img-caption > p {
    padding: 10px 30px !important;
    color: #727887;
    font-size: .8rem;
}


.content > p {
    padding: 0 30px;
    padding-bottom: 30px; 
    line-height: 30px;
    color: #727887;
    font-size: .9rem;
}

#tribute-info {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

#tribute-link {
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    color: #262630;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: -0px;
}

footer {
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: #2cc753;
}

footer > p {
    font-weight: 600;
}

#quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
    padding-bottom: 10rem !important;
}

#quote > p::before {
    content: "\“";
    font-size: 3rem;
}

#quote > p {
    width: 40vw;
    text-align: center;
    margin-bottom: 5rem;
    font-size:3rem;
    font-weight: 800;
}

#quote > p::after {
    content: '\”';
    font-size: 3rem;
}

@media (max-width: 800px){
    .toggle-button {
        display: flex;
    }

    .header_nav {
        display: none !important;
    }

    .header {
        padding: .9rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .header_nav {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header_nav ul {
        width: 100% !important;
        flex-direction: column;
    }

    .header_nav ul li {
        padding: .3rem 0;
        text-align: center;
    }

    .header_nav.active {
        display: flex !important;
    }

    /* Main */
    #hero{
        padding: 0 .8rem;
        background-position: center center;
        background-repeat: no-repeat;
    }

    #hero p {
        width: 100vw;
    }

    #mouse {
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 30vw;
    }

    .timeline::after {
        left: 128px;
    }
        
        /* Full-width containers */
        .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
        }
        
        /* Make sure that all arrows are pointing leftwards */
        .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
        }
      
        /* Make sure all circles are at the same spot */
        .left::after, .right::after {
        left: 15px;
        }
        
        /* Make all right containers behave like the left ones */
        .right {
        left: 0%;
        }

        #quote > p {
            width: 100vw;
            font-size: 2rem;
        }
}